{% extends "layout.html" %}
{% block body %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dysarthric Severity Assessment Tool</title>
    <link rel="stylesheet" href="static/css/dys.css">
    <script src="static/js/dys.js"></script>
</head>

<body>
    <header>
        <h1>Dysarthric Severity Assessment Tool</h1>
    </header>

    <main>
        <div class="side-by-side">
            <section id="upload-section">
                <h2>Upload Your File</h2>
                <div class="upload-box">
                    <p>Click to upload or drag and drop</p>
                    <span>.WAV </span>
                    <form method="POST" enctype="multipart/form-data">
                        <input type="file" name="file" id="inputGroupFile04" onchange="handleFileUpload(this);">
                        <br><br><br><br>
                        <audio id="audioPlayer" controls></audio><br><br>
                        <button id="classify-button" type="submit">CLASSIFY</button>
                    </form>
                </div>
            </section>

            <section id="recording-section">
                <h2>Record Audio</h2>
                <div class="upload-box">
                    <div class="boxContainer"> 
                        <div class="box box1"></div>
                        <div class="box box2"></div>
                        <div class="box box3"></div>
                        <div class="box box4"></div>
                        <div class="box box5"></div>
                    </div>
                    <div id="record-controls">
                        <button id="start-record" onclick="startRecording()">Start</button>
                        <button id="stop-record" onclick="stopRecording()">Stop</button>
                        <p id="record-status"></p>
                    </div><br><br>
                    <div id="record-time">
                        <audio id="audioPlayer2" controls></audio>
                        <br>
                        <br>
                        <form method="POST" enctype="multipart/form-data">
                            <input type="hidden" name="record" value="true">
                            <input type="hidden" name="file_path" id="hidden-file-path" value="">
                            <button id="recordbtn" type="submit">CLASSIFY</button>
                        </form>
                    </div>
                </div>
            </section>
        </div>
        
        <section id="output-section">
            <h2>Output</h2>
            <div id="output-box">
                <p id="output-text">{{img_gif}}</p>
            </div>
        </section>
        
        <section class="container" style="margin-top: 20px; display: block; box-sizing: border-box;">
            <h3>How to Use ?</h3>
            <p>
                Dysarthria is a neuro-motor speech defect that causes speech to be unintelligible and is largely unnoticeable to humans at various severity-levels. <br> Dysarthric speech classification is used as a diagnostic method to assess the progression of a patient's severity of the condition, as well as to aid with automatic dysarthric speech recognition systems (an important assistive speech technology). <br> Severity-level of dysarthria depends on the impact and damage to the area of neurological injury, which is diagnosed using a brain and nerve test. <br> <br>
                The type, underlying cause, severity-level, and its symptoms, all influence the manner in which it is treated. <br> Due to this uncertainty in treatment, researchers are motivated to develop speech assistive tools for dysarthric intelligibility categorization. <br> We employ a dysarthric severity-level classification tool using state-of-the-art features which are known to capture global spectral properties of signal using deep neural network based classifiers. <br>
            </p>    
        </section>
    </main>
</body>
{% endblock %}
