<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>SPEECH ASR</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../static/vendor/aos/aos.css" rel="stylesheet">
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../static/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="../static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="../static/css/main.css" rel="stylesheet">

    <script src="../static/js/main_audio.js"></script>
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center header-transparent">
        <div class="container d-flex align-items-center justify-content-between">

            <div class="logo">
                <h1><span
                        style="font-size: 1.05rem; color: #fff; font-weight: 100; font-style: thin-italic; font-family: 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';">National
                        Language Translation Mission (NLTM) | Project Bhashini</span></h1>
            </div>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="/">Home</a></li>
                    <li><a class="nav-link scrollto" href="/about">About</a></li>
                    <li><a class="nav-link scrollto" href="/contact">Contact</a></li>
                    <li><a class="nav-link scrollto" href="/team">Team</a></li>
                    <li class="dropdown"><a href="#"><span>MENU</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="/dys">DysarthricASR</a></li>
                            <li><a href="/infant">Infant Cry</a></li>
                            <li><a href="/emotions">Emotion Classification</a></li>
                            <li><a href="/vld">Voice Liveliness Detection</a></li>
                            <li><a href="/add">Audio Deepfake Detection</a></li>
                        </ul>
                    </li>
                    <!-- <li><a class="nav-link scrollto" href="#contact">Contact</a></li> -->
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->
            &nbsp
            <div class="logo" style="margin-left: 70px;">
                <h1><a href="https://www.meity.gov.in/national-language-translation-mission"><img id="header-img"
                            src="../static/assets/logo_en.png" style="width: auto; height: 3rem;" alt="NLTM Logo"></a>
                </h1>
            </div>
        </div>
    </header><!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero">

        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-7 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
                    <div data-aos="zoom-out">
                        <h1>Infant Cry Classification</h1>
                        <!-- <h2>We are team of talented designers making websites with Bootstrap</h2> -->
                    </div>
                </div>

            </div>
        </div>

        <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28 " preserveAspectRatio="none">
            <defs>
                <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
            </defs>
            <g class="wave1">
                <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
            </g>
            <g class="wave2">
                <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
            </g>
            <g class="wave3">
                <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
            </g>
        </svg>

    </section><!-- End Hero -->

    <main id="main">

        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container-fluid">

                <div class="row">


                    <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5"
                        data-aos="fade-left">
                        <!-- <h3>What are Assistive Speech Technologies?</h3> -->
                        <p>Classification of infant cry into normal and pathological cries is a socially relevant research problem for a long time
                        as crying is the only mode of communication for an infant to convey information to the parents or caregivers.
                        The cry of an infant can be meant for many reasons, which indicate the emotional, physical, and pathological needs of
                        infants.
                        The exact reasoning behind the infant's cry is difficult to understand for inexperienced mothers and caregivers.
                        Hence, the infant cry classification system can be used for the early detection and diagnosis of the infant's condition.
                        
                        Several diagnosis methods, such as magnetic resonance imaging, computed tomography scans, and head ultrasound are used
                        to identify various pathologies.
                        However, pathology diagnosis is costly, and also time taking, which impacts the health of the baby.
                        Hence, the need to develop a robust assistive infant cry classification algorithm to aid paediatricians.
                        To mitigate this problem, we use a method to classify infant cries using cutting-edge features that are known to capture
                        their global spectral characteristics employing classifiers based on machine learning.
                        </p>

                    </div>
                </div>

            </div>
        </section><!-- End About Section -->

        <!-- ======= Details Section ======= -->
        <section id="details" class="details">
            <div class="container">



            </div>
        </section><!-- End Details Section -->
        <div class="side-by-side">
            <section id="upload-section">
                <h2>Upload Your File</h2>
                <div class="upload-box">
                    <p>Click to upload or drag and drop</p>
                    <span>.WAV </span>
                    <form method="POST" enctype="multipart/form-data">
                        <input type="file" name="file" id="inputGroupFile04" onchange="handleFileUpload(this);">
                        <br><br><br><br>
                        <audio id="audioPlayer" controls></audio><br><br>
                        <button id="classify-button" type="submit">CLASSIFY</button>
                    </form>
                </div>
            </section>

            <section id="recording-section">
                <h2>Record Audio</h2>
                <div class="upload-box">
                    <div class="boxContainer">
                    </div>
                    <div id="record-controls">
                        <button id="start-record" onclick="startRecording()">Start</button>
                        <button id="stop-record" onclick="stopRecording()">Stop</button>
                        <p id="record-status"></p>
                    </div><br><br>
                    <div id="record-time">
                        <audio id="audioPlayer2" controls></audio>
                        <form method="POST" enctype="multipart/form-data">
                            <input type="hidden" name="record" value="true">
                            <input type="hidden" name="file_path" id="hidden-file-path" value="">
                            <button id="recordbtn" type="submit">CLASSIFY</button>
                        </form>
                    </div>
                </div>
            </section>
        </div>

        <section id="output-section">
            <h2>Output</h2>
            <div id="output-box">
                <p id="output-text">{{img_gif}}</p>
                <p id="output-text">{{severity}}</p>
            </div>
        </section>

    </main>

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="../static/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="../static/vendor/aos/aos.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../static/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="../static/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="../static/js/main.js"></script>

</body>

</html>