<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>SPEECH ASR</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../static/vendor/aos/aos.css" rel="stylesheet">
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../static/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="../static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../static/css/style.css" rel="stylesheet">

</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center header-transparent">
        <div class="container d-flex align-items-center justify-content-between">

            <div class="logo">
                <h1><span
                        style="font-size: 1.05rem; color: #fff; font-weight: 100; font-style: thin-italic; font-family: 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';">National
                        Language Translation Mission (NLTM) | Project Bhashini</span></h1>
            </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="/">Home</a></li>
                <li><a class="nav-link scrollto" href="/about">About</a></li>
                <li><a class="nav-link scrollto" href="/contact">Contact</a></li>
                <li><a class="nav-link scrollto" href="/team">Team</a></li>
                <li class="dropdown"><a href="#"><span>MENU</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="/dys">DysarthricASR</a></li>
                        <li><a href="/infant">Infant Cry</a></li>
                        <li><a href="/emotions">Emotion Classification</a></li>
                        <li><a href="/vld">Voice Liveliness Detection</a></li>
                        <li><a href="">Audio Deepfake Detection</a></li>
                    </ul>
                </li>
                <!-- <li><a class="nav-link scrollto" href="#contact">Contact</a></li> -->
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
            &nbsp
            <div class="logo" style="margin-left: 70px;">
                <h1><a href="https://www.meity.gov.in/national-language-translation-mission"><img id="header-img"
                            src="../static/assets/logo_en.png" style="width: auto; height: 3rem;" alt="NLTM Logo"></a>
                </h1>
            </div>
        </div>
    </header><!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero">

        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-7 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
                    <div data-aos="zoom-out">
                        <h1>ASSISTIVE SPEECH TECHNOLOGY</h1>
                        <!-- <h2>We are team of talented designers making websites with Bootstrap</h2> -->
                    </div>
                </div>
                
            </div>
        </div>

        <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28 " preserveAspectRatio="none">
            <defs>
                <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
            </defs>
            <g class="wave1">
                <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
            </g>
            <g class="wave2">
                <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
            </g>
            <g class="wave3">
                <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
            </g>
        </svg>

    </section><!-- End Hero -->

    <main id="main">

        <!-- ======= Team Section ======= -->
        <section id="team" class="team">
            <div class="container">

                <div class="section-title" data-aos="fade-up">
                    <h2>Team</h2>
                    <p>Our Great Team</p>
                </div>

                <div class="row" data-aos="fade-left">

                    <div class="col-lg-3 col-md-6">
                        <div class="member" data-aos="zoom-in" data-aos-delay="100">
                            <div class="pic">
                                <img src="../static/assets/sir.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="member-info">
                                <h4>Dr. Hemant Patil</h4>
                                <span>Professor</span>
                               
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
                        <div class="member" data-aos="zoom-in" data-aos-delay="200">
                            <div class="pic">
                                <img src="../static/assets/priyanka.jpeg" class="img-fluid" alt="">
                            </div>
                            <div class="member-info">
                                <h4>Priyanka Gupta</h4>
                                <span>Team Member</span>
                               
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                        <div class="member" data-aos="zoom-in" data-aos-delay="300">
                            <div class="pic">
                                <img src="../static/assets/aastha.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="member-info">
                                <h4>Aastha Kachhi</h4>
                                <span>Team Member</span>
                                
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                        <div class="member" data-aos="zoom-in" data-aos-delay="400">
                            <div class="pic">
                                <img src="../static/assets/uthiraa.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="member-info">
                                <h4>S. Uthiraa</h4>
                                <span>Team Member</span>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="member" data-aos="zoom-in" data-aos-delay="100">
                            <div class="pic">
                                <img src="../static/assets/aditya.jpeg" class="img-fluid" alt="">
                            </div>
                            <div class="member-info">
                                <h4>Aditya Pusuluri</h4>
                                <span>Team Member</span>
                               
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
                        <div class="member" data-aos="zoom-in" data-aos-delay="200">
                            <div class="pic">
                                <img src="../static/assets/drashti.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="member-info">
                                <h4>Drashti Koladiya</h4>
                                <span>Team Member</span>
                               
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                        <div class="member" data-aos="zoom-in" data-aos-delay="300">
                            <div class="pic">
                                <img src="../static/assets/akshat.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="member-info">
                                <h4>Akshat Vora</h4>
                                <span>Team Member</span>
                                
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                        <div class="member" data-aos="zoom-in" data-aos-delay="400">
                            <div class="pic">
                                <img src="../static/assets/siddarth.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="member-info">
                                <h4>Siddarth Rathod</h4>
                                <span>Team Member</span>
                                
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="member" data-aos="zoom-in" data-aos-delay="100">
                            <div class="pic">
                                <img src="../static/assets/prathamesh.jpeg" class="img-fluid" alt="">
                            </div>
                            <div class="member-info">
                                <h4>Prathamesh Bonde</h4>
                                <span>Team Member</span>
                    
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
                        <div class="member" data-aos="zoom-in" data-aos-delay="200">
                            <div class="pic">
                                <img src="../static/assets/Ayush.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="member-info">
                                <h4>Ayush Jain</h4>
                                <span>Team Member</span>
                    
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                        <div class="member" data-aos="zoom-in" data-aos-delay="300">
                            <div class="pic">
                                <img src="../static/assets/prathav.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="member-info">
                                <h4>Prathav Kevadiya</h4>
                                <span>Team Member</span>
                    
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                        <div class="member" data-aos="zoom-in" data-aos-delay="400">
                            <div class="pic">
                                <img src="../static/assets/arth.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="member-info">
                                <h4>Arth Shah</h4>
                                <span>Team Member</span>
                    
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                        <div class="member" data-aos="zoom-in" data-aos-delay="400">
                            <div class="pic">
                                <img src="../static/assets/khushitr.png" class="img-fluid" alt="">
                            </div>
                            <div class="member-info">
                                <h4>Khushi Trivedi</h4>
                                <span>Team Member</span>
                    
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                        <div class="member" data-aos="zoom-in" data-aos-delay="400">
                            <div class="pic">
                                <img src="../static/assets/sastry.jpeg" class="img-fluid" alt="">
                            </div>
                            <div class="member-info">
                                <h4>Sudarshan Sastry</h4>
                                <span>Team Member</span>
                    
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End Team Section -->


    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">


        <div class="container">

            <div class="credits">
                Speech Research Lab, Dhirubhai Ambani Institute of Information and Communication Technology
                (DAIICT)<br>Gandhinagar-382007, Gujarat, India
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="../static/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="../static/vendor/aos/aos.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../static/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="../static/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="../static/js/main.js"></script>

</body>

</html>