<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/DA-IICT emblem.ico')}}" />
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
        rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css')}}">
   
</head>

<body>
    <!-- <div class="main-container"> -->
        <!-- <nav class="navbar navbar-expand-lg navbar-dark py-3 fixed-top" id="mainNav">
            <div class="container-fluid px-4 px-lg-5 py-1.5">
                <a class="navbar-brand" href="https://www.meity.gov.in/national-language-translation-mission">
                    <img id="header-img" src="{{ url_for('static', filename='assets/logo_en.png')}}"
                        style="width: auto; height: 3rem;" alt="Menu">
                </a>
                <span class="navbar-nav ms-auto me-xxl-3 py-4 py-lg-0"
                    style="font-size: 1.05rem; color: #fff; font-weight: 100; font-style: thin-italic; font-family: 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';">
                    National Language Translation Mission (NLTM) | Project Bhashini
                </span>
                <img src="{{ url_for('static', filename='assets/dalogo.png')}}" style="height: 4rem;" alt="Menu">
            </div>
        </nav>

        <nav class="navbar navbar-expand-lg navbar-light pt-5 fixed-top" id="mainNav" style="top: 75px;">
            <div class="container-fluid px-3 px-lg-5 py-3 pt-4">
                <a class="navtext navbar-brand" href="/">AST</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                    aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" style="font-size: 15px;"
                                href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" style="font-size: 15px;"
                                href="/about">About</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" style="font-size: 15px;"
                                href="/team">Team</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" style="font-size: 15px;"
                                href="/contact">Queries</a></li>
                        <div class="ddown">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle px-lg-5 py-3 py-lg-3" href="#" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <img id="header-img" src="{{ url_for('static', filename='assets/menu.png')}}"
                                        style="width: 1.25rem; height: 1.25rem;" alt="Menu">
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="/emotions">Emotions</a></li>
                                    <hr class="dropdown-divider">
                                    <li><a class="dropdown-item" href="/infant">Infant Cry</a></li>
                                    <hr class="dropdown-divider">
                                    <li><a class="dropdown-item" href="/dys">Dysarthric Speech</a></li>
                                    <hr class="dropdown-divider">
                                    <li><a class="dropdown-item" href="/vld">Voice Liveness Detection</a></li>
                                    <hr class="dropdown-divider">
                                    <li><a class="dropdown-item" href="/add">Audio Deepfake Detection</a></li>
                                </ul>
                            </li>
                        </div>
                    </ul>
                </div>
            </div>
        </nav> -->

    <nav>
        <div class="ministry-info">
            <img src="../static/assets/dalogo.png" style="height: 4rem;" alt="Ministry Logo">
            <span class="navbar-nav ms-auto me-xxl-3 py-4 py-lg-0"
                style="font-size: 1.05rem; color: #fff; font-weight: 100; font-style: thin-italic; font-family: 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';">
                National Language Translation Mission (NLTM) | Project Bhashini
            </span>
        </div>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/team">Team</a>
            <a href="/contact">Queries</a>
            <a href="/services">Services</a>
            <div class="dropdown">
                <button class="dropbtn" onclick="toggleDropdown()">Menu</button>
                <div class="dropdown-content" id="dropdown-content">
                    <a href="/dys">DysarthricASR</a>
                    <a href="/infant">Infant Cry</a>
                    <a href="/emotions">Emotion Classification</a>
                    <a href="/vld">Voice Liveliness Detection</a>
                    <a href="">Audio Deepfake Detection</a>
                </div>
            </div>
        </div>
        <div class="logo">
            <a class="navbar-brand" href="https://www.meity.gov.in/national-language-translation-mission">
                <img id="header-img" src="../static/assets/logo_en.png" style="width: auto; height: 3rem;" alt="NLTM Logo">
            </a>
        </div>
    </nav>
        <div class="content" style="padding-top: 150px;">
            {% block body %}{% endblock %}
        </div>
    <!-- </div> -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <script>
        function redirectToPage(url) {
            window.location.href = url;
        }

        function toggleDropdown() {
            var dropdownContent = document.getElementById("dropdown-content");
            dropdownContent.style.display = dropdownContent.style.display === "block" ? "none" : "block";
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                for (var i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.style.display === "block") {
                        openDropdown.style.display = "none";
                    }
                }
            }
        }
    </script>
</body>

</html>